
.text-wrapper {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}


.text-wrapper p {
    white-space: nowrap;
    padding: 0 3rem;
    letter-spacing: 1px;
    animation: move-rtl 6000ms linear infinite;
}

.ltr p{
    animation: move-ltr 6000ms linear infinite;
    padding: 3 3rem;
}

.customtextstroke {
    text-shadow: -2.75px -2.75px 0.75px #1e293b, 2.75px -2.75px 0.75px #1e293b, -2.75px 2.75px 0.75px #1e293b, 2.75px 2.75px 0.75px #1e293b;
}

.shineeffect {
    background-color: #f59e0b;
    background-image: linear-gradient(
        -75deg,
        transparent 0,
        transparent 5%,
        rgba(255,255,255,0.5) 5%,
        rgba(255,255,255,0.5) 10%,
        transparent 10%,
        transparent 100%
    );
    background-size: 200% 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.4s;
}

.backtransition {
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.offertext:hover {
    .shineeffect {
        background-position: -120% 0;

    }
}

@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes move-ltr {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}